version: '3.7'

volumes:
  postgres_data:
  static_value:
  media_value:

services:
  db:
    image: postgres:12-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - infra/.env

  web:
    build: .
    image: quantumcon/yamdb_final:v1.3
    restart: always
    volumes:
      - static_value:/app/static/
      - media_value:/app/media/
    depends_on:
      - db
    env_file:
      - infra/.env

  nginx:
    image: nginx:alpine
    restart: always
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_value:/var/html/static/
      - media_value:/var/html/media/
    ports:
      - 80:80
    depends_on:
      - web

